<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="userCenterApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript"
            src="http://dui.dooioo.com/public/js/lib/jquery-1.6.2.min.js?v=20141030"></script>
    <title>首页 - 德佑地产</title>
   

    <link type="text/css" rel="stylesheet"
          href="http://dui.dooioo.com/public/css/main.css?v=20141030">
    <link type="text/css" rel="stylesheet"
          href="http://dui.dooioo.com/public/css/header.css?v=20141030">



</head>
<body>
    <h1 class="f18 bold" id="time">
    
        晚上好,匡前阳！    
 
    </h1>

</body> 

